 <div class='container-form'>
   <div class='col-left col-lg-6 col-sm-6'>
     <h1 class="title">Create account</h1>
     <div class='note'>
       <span>Unase a nosotros para poder iniciar con su solicitud.</span>
     </div>
     <p class="login-form">o <a routerLink="/login">inicia sesión</a></p>
   </div>
   <div class="box col-rigth col-lg-6 col-sm-6">
     <form [formGroup]="formGroup" (ngSubmit)="validateAge()">
       <div class="inputBox">
         <input type="text" name="identification" formControlName="identification" maxlength="15"
           (keypress)="validateId($event)" required>
         <label for="identification">Identificación</label>
       </div>
       <div class="inputBox">
         <input type="text" formControlName="name" name="name" required>
         <label for="name">Nombre</label>
       </div>
        <div class="inputBox">
          <input type="text" formControlName="lastname" name="lastName" required>
          <label for="lastName">Apellido</label>
        </div>
       <div class="inputBox">
         <input type="text" formControlName="birthdate" name="birthdate" 
          onfocus="(this.type='date')"
          onblur="(this.type='text')" formControlName="birthdate"  required>
         <label for="birthdate">Fecha de nacimiento</label>
       </div>
       <input type="submit" value="Guardar" [disabled]="formGroup.invalid">
     </form>
   </div>
 </div>
