.container-form {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("../../../assets/signup-bg.jpg");
    background-size: cover;
    height: 100vh;

    .col-left {
        position: absolute;
        left: 0;
        display: block;
        text-align: center;
        height: 100%;
        background: #004454;
        color: white;

        .title {
            text-transform: uppercase;
            margin-top: 8rem;
            margin-bottom: 4rem;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 5rem;
            text-shadow: 5px 7px 11px black;
            letter-spacing: 6px;
        }

        .note {
            font-family: 'Josefin Sans', sans-serif;
        }

        .login-form {
            color: white;
            font-weight: bold;
            margin-top: 20px;
            display: block;
            font-family: 'Josefin Sans', sans-serif;
            text-align: center;

            a {
                color: #41b9e0;
                text-shadow: 2px 2px 4px black;
                cursor: pointer;
            }
        }
    }

    .box {
        position: absolute;
        top: 50%;
        right: -25%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        /* width: auto; */
        padding: 0 40px;

        /* background: rgba(0, 0, 0, 0.8); */
        box-sizing: border-box;

        .inputBox {
            position: relative;

            input {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                color: black;
                margin-bottom: 30px;
                border: none;
                border-bottom: 3px solid #2196f3;
                outline: none;
                background: #ffffff73;
                font-family: "Josefin Sans", sans-serif;
                z-index: 100;
            }

            label {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px;
                font-size: 16px;
                color: black;
                pointer-events: none;
                font-family: "Josefin Sans", sans-serif;
                transition: 0.5s;
            }

            input:focus ~ label,
            input:valid ~ label {
                top: -30px;
                left: 0;
                color: black;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        input[type="submit"] {
            display: block;
            background: #0000;
            border: none;
            outline: none;
            color: #fff;
            background: #004454;
            padding: 10px 50px;
            cursor: pointer;
            border-radius: 5px;
            margin: 0 auto;
            font-family: "Montserrat", sans-serif;
            box-shadow: 1px 6px 9px 0px #4a4a4a;
        }

        input[type="submit" i]:disabled {
            background: #aeddf3;
            cursor: not-allowed;
        }
    }
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

@media screen and (max-width: 600px) {
    .container-form {
        .col-left {
            height: 25%;
            padding: 20px;

            .title {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 30px;
            }

            .note {
                display: none;
            }
        }

        .box {
            left: 50%;
            margin-top: 60px;
            text-align: center;
        }
    }
}
