 <div class='container-form'>
   <div class="box col-left col-lg-6 col-sm-6">
     <!-- <h2 class="title">Iniciar</h2> -->
     <form (ngSubmit)="submit()">
       <div class="inputBox">
         <input type="text" id="id" name="id" [(ngModel)]="identification" (keypress)="validateId($event)" required>
         <label for="id">Identificación</label>
       </div>
       <input type="submit" value="Enviar" [disabled]="!identification">
     </form>
   </div>
   <div class='col-right col-lg-6 col-sm-6'>
     <h1 class="title">Log in</h1>
     <div class='note'>
       <h3 class='welcome'>Bienvenido</h3>
       <span>Para realizar su solicitud de credito por favor inicie sesión.</span>
     </div>
     <p class="register-form">o <a routerLink="/register">registrate</a> con nosotros</p>
   </div>
 </div>
