 <div class='container-form'>
     <span class="logout" (click)="logout()">Cerrar sesión</span>
   <div class="box" *ngIf="showForm">
     <h2 class="title">Solicitud de credito</h2>
     <span class="note">Por favor ingrese toda la información requerida para poder tramitar su solicitud de credito en el menor tiempo posible.</span>
     <form  class="form-container" [formGroup]="formGroup" (ngSubmit)="submit()">
       <div class="inputBox">
         <input  type="text" formControlName="nameCompany" name="nameCompany" placeholder="Accenture" autocomplete="off" required>
         <label for="nameCompany">Nombre de la empresa</label>
       </div>
       <div class="inputBox">
         <input type="text" formControlName="nitCompany" name="nit" (keypress)="validateId($event)" maxlength="15" autocomplete="off" placeholder="12345678"
           required>
         <label for="nit">NIT de la empresa</label>
       </div>
       <div class="inputBox">
         <input type="tel" formControlName="salary" name="salary" maxlength="8" (keypress)="validateId($event)" autocomplete="off" placeholder="3520000" required>
         <label for="salary">Salario actual</label>
       </div>
       <div class="inputBox">
         <input type="text" formControlName="dateAdmission" name="dateAdmission" onfocus="(this.type='date')"
           onblur="(this.type='text')" autocomplete="off"  required>
         <label for="dateAdmission">Fecha de ingreso a la empresa</label>
       </div>
       <input type="submit" value="Enviar solicitud" [disabled]="formGroup.invalid">
     </form>
   </div>
   <div class='message' *ngIf="!showForm">
     <h2>Respuesta de la solicitud</h2>
     <div class='info'>
       <p class='note'>{{response.message}}</p>
       <p class='status'>Estado: {{response.statusReq}}</p>
       <p class='quantity' *ngIf="response.quantity !== 0">Valor aprobado: {{response.quantity | currency}}</p>
     </div>
     <button (click)="formClean()">Realizar otra solicitud</button>
   </div>
 </div>
