.container-form {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("../../../assets/solicitud-bg.jpeg");
  background-size: cover;
  height: 100vh;

  .logout {
    position: fixed;
    color: #000;
    background-color: #96c6f5;
    right: 20px;
    top: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.4s ease-in-out;
    z-index: 100;
  }

  .logout:hover {
    padding: 15px 30px;
    font-size: 14px;
    transform: scale(1.1);
  }

  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: "Josefin Sans", sans-serif;

    h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 2.5rem;
      text-transform: uppercase;
      text-shadow: 5px 7px 11px #000000;
      letter-spacing: 4px;
    }

    span.note {
      color: #96c6f5;
      display: block;
      text-align: justify;
      line-height: 18px;
      font-size: 14px;
      margin-bottom: 40px;
    }

    .inputBox {
      position: relative;

      input {
        width: 100%;
        padding: 7px 0;
        font-size: 16px;
        color: white;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: #0000;
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
      }

      input:focus ~ label,
      input:valid ~ label {
        top: -30px;
        left: 0;
        color: #ebcdc3;
        font-size: 15px;
      }
    }

    input[type="submit"] {
      background: transparent;
      border: none;
      outline: none;
      color: #fff;
      background: #024361;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      margin: 0 auto;
      display: block;
    }

    input[type="submit" i]:disabled {
      background: #aeddf3;
      cursor: not-allowed;
    }

    ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
      color: transparent;
    }

    ::-webkit-input-placeholder {
      color: transparent;
    }

    :-moz-placeholder {
      /* Firefox 18- */
      color: transparent;
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      color: transparent;
    }

    :-ms-input-placeholder {
      color: transparent;
    }

    input:hover::placehoder {
      color: gray;
      opacity: 1;
    }
  }
  .message {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0px 10px 25px rgba(223, 202, 202, 0.5);
    border-radius: 10px;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 20px;
    h2 {
      margin: 0 0 5rem;
      padding: 0;
      color: #fff;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 2.5rem;
      text-transform: uppercase;
      text-shadow: 5px 7px 11px #000000;
      letter-spacing: 4px;
    }
    .note {
      font-size: 25px;
      color: #96c6f5;
    }
    p.status,
    .quantity {
      margin: 0;
    }
    button {
      background: transparent;
      border: none;
      outline: none;
      color: #fff;
      background: #024361;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      margin: 30px auto 0;
      font-family: "Montserrat", sans-serif;
      display: block;
    }
  }
}

@media screen and (max-width: 600px) {
  .container-form {
    .box {
      width: 90%;
      padding: 40px 20px;
      h2 {
        font-size: 1.5rem;
      }
      span.note {
        display: none;
      }
      .inputBox {
        input,
        label {
          font-size: 14px;
        }
      }
    }
  }
}
